<%- include('partials/header'); -%>

  <h1>Home</h1>

  <p>
    <%= homeContent %>
  </p>


  <!-- <% for(let i=0; i<postItems.length; i++){%>
      <li>
        <p>
          <%= postItems[i].postTitle %>
        </p>
        <p>
          <%= postItems[i].postBody %>
        </p>
      </li>
      <%}%> -->
  <% postItems.forEach((item)=>{ %>

    <h1>
      <%= item.postTitle %>
    </h1>
    <p>
      <%= item.postBody %>
    </p>

    <%})%>


      <%- include('partials/footer'); -%>